<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddDocument</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section>
        <form action="/api/admin/document" method="POST">
        <div class="login-container">
            <div class="login-box">
                    <h1>Add Document</h1>
                    <h3>Document Name</h3>
                    <input type="text" name="filename">
                    <div class="chkbox">
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                        <h3><input type="checkbox">user1</h3>
                    </div>
                    <input type="file">Document Upload</input>
                    <button>Submit</button>
            </div>
        </div>
        </form>
    </section>
    
</body>
</html>