<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin-Login</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section>
        <div class="login-container">
            <div class="login-box">
                    <h1>ADMIN LOGIN</h1>
                    <h3>User ID</h3>
                    <input type="text">
                    <h3>Password</h3>
                    <input type="text">
                    <button>Login</button>
            </div>
        </div>
    </section>
    
</body>
</html>