<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DashboardUser</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="left">
                <h1>Dashboard</h1>
                <a href="/dashboarduser">User</a>
                <a href="/dashboard">Document</a>
            </div>
            <div class="right">
                <h2>Master name</h2>
            </div>
        </div>
    </header>
    <section>
        <div class="dashcontainer">
            <div class="addbtn">
                <a class="loginbutton" href="/adduser">Add User</a>
                <a href="/" class="loginbutton">Sign Out</a>
            </div>
            
                {{#each users}}
                <div class="navtab">
                    <div class="tableft">
                        <h3>{{username}}</h3>
                    </div>
                </div>                
                {{/each}}
                {{!-- <div class="tabright">
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div> --}}
        </div>


    </section>
    
</body>
</html>