<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DocumentView</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
<header>
        <div class="navbar">
            <div class="left">
                <h1>Dashboard</h1>
            </div>
            <div class="right">
                <h2>Master name</h2>
            </div>
        </div>
    </header>
<section>
    <div class="maincontainer">
            <div class="navright">
                <a class="loginbutton">Sign Out</a>
            </div>
    <div class="documentcontainer">
         {{#each documents}}
                <div class="box">
                    <h2>{{filename}}</h2>
                    <a href={{source}} class="download" download>Download</a>
                </div>
        {{/each}}
       
    </div>
</div>
</section>
    
</body>
</html>